@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center mt-5">
    <h1 class="display-4 mb-4">Welcome to Best Store!</h1>
    <p class="lead">Discover amazing products and deals just for you!</p>
    <a href="https://localhost:44328/Products" class="btn btn-primary btn-lg mt-3">Explore More</a>
</div>

<div class="row mt-5">
    <div class="col-md-4">
        <div class="card">
            <img src="~/products/Mac book pro.jpeg" class="card-img-top" alt="Product 1">
            <div class="card-body">
                <h5 class="card-title">Mac Book Pro</h5>
                <p class="card-text">Apple 2023 MacBook Pro (14-inch, Apple M3 chip with 8‑core CPU and 10‑core GPU, 8GB Unified Memory, 512GB) .</p>
                <a href="#" class="btn btn-secondary">View Details</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
        <img src="~/products/Smart ring.jpeg" >
            <div class="card-body">
                <h5 class="card-title">Noise Smart Ring</h5>
                <p class="card-text">The Luna ring uses Bluetooth technology to sync data with your smartphone. Install the Luna Ring app, activate Bluetooth on both devices, and pair them. .</p>
                <a href="#" class="btn btn-secondary">View Details</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <img src="~/products/Apple vision.jpeg" />
            <div class="card-body">
                <h5 class="card-title">Apple Vision Pro</h5>
                <p class="card-text">
                    The App Store for Apple Vision Pro features groundbreaking apps built for visionOS with powerful spatial experiences, as well as compatible iPad and iPhone apps ...
                </p>
                <a href="#" class="btn btn-secondary">View Details</a>
            </div>
        </div>
    </div>
</div>

<footer class="footer text-center mt-5">
    <div>© 2024 BestStoreMVC</div>
</footer>
